<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ghc</key>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>18542</integer>
		<key>minor</key>
		<integer>29288</integer>
	</dict>
	<key>nsh</key>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>925</integer>
		<key>minor</key>
		<integer>51399</integer>
	</dict>
</dict>
</plist>
